
<h1><b>Fornecedor</b> -   <%=h @fornecedor.nome %></h1>
<p>  <b>Endereco:</b>
  <%=h @fornecedor.endereco %>
 <b>Telefone:</b>
  <%=h @fornecedor.telefone %>

<%= link_to 'Editar', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Voltar', fornecedores_path %>
</p>
<% unless @fornecedor.materiais.empty? %>

<fieldset id="materiais">
  <legend>Materiais</legend>

  <table>
    <thead>
        <tr>
          <td><b>Nome</td><td><b>Valor</td><td><b>Quantidade</td><td><b>Data da Compra</td></b>
        </tr>
    </thead>
    <tbody>

    <%
     @valortotal = 0
     @fornecedor.materiais.each do |material| %>
        <tr>
            <td><%= material.nome %></td>
            <td><%= material.valor %></td>
            <td><%= material.quantidade %></td>
            <td><%= material.data_da_compra %></td>
        </tr>
       <%
       @valortotal += material.valor
       %>
    <% end %>
    </tbody>
  </table>

</fieldset>
<% end %>
<fieldset id="gastostotais">
<legend>Total de gastos</legend>

   R$ <b><%= @valortotal %></b>
</fieldset>

