<h1>Lista de materiais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Valor</th>
    <th>Data da compra</th>
  </tr>

<% @materiais.each do |material| %>
  <tr>
    <td><%=h material.nome %></td>
    <td><%=h material.quantidade %></td>
    <td><%=h material.valor %></td>
    <td><%=h material.data_da_compra %></td>
    <td><%= link_to 'Show', material %></td>
    <td><%= link_to 'Edit', edit_material_path(material) %></td>
    <td><%= link_to 'Destroy', material, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar novo material', new_material_path %>

