<h1>Novo material</h1>

<% form_for(@material) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :data_da_compra %><br />
    <%= f.date_select :data_da_compra %>
  </p>
   <p>
    <%= f.label :fornecedor_id %><br />
    <% fornecedores = Fornecedor.all %>
    <%= f.collection_select :fornecedor_id ,fornecedores, :id, :nome %>

  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', materiais_path %>

